body {
  width: 100%;
  height: 100vh;
  min-width: 250px;
  margin: 0;
  padding: 0;
  background: #f2f2f2;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
      color: inherit;
    }

    &:active {
      text-decoration: none;
      color: inherit;
    }

    &:visited {
      text-decoration: none;
      color: inherit;
    }
  }

  .headerContent {

    header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background: #3a3a3a;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #ededed;
      z-index: 200;

      a {
        display: flex !important;
        height: 60px;

        .title {
          display: none;
          flex-direction: column;
          justify-content: center;


          .masterTitle {
            font-size: 1.3em;
            line-height: 1em;
          } // END MASTER TITLE

          .info {
            font-size: .5em;

            img {
              width: 10px;
            }
          } // END INFO
        } // END TITLE
      } // END A HEADER

      #navLogo {
        margin-left: 5%;
        svg {
          width: 50px;
          fill: gold;
          margin-right: 10px;
        }
      } // END NAV LOGO

      #menuIcon {
        display: flex;
        align-items: center;
        margin-right: 5%;

        .returnWebsite {
          height: 30px;
          margin-left: 10px;
        }
      } // END USERMENU
    } // END HEADER

    .container {
      min-height: calc(100vh - 40px);
      padding-top: 70px;
      margin-bottom: 40px;
      background: #f2f2f2;
    }
    .container-fluid {
      min-height: calc(100vh - 40px);
      padding-top: 70px;
      margin-bottom: 40px;
      background: #f2f2f2;

      tr {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
      }
    }
  }

  .card {
    width: 300px;
    margin: 5px;
    transition: .3s ease-in-out;
    position: relative;
    display: inline-block;

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    h5 {
      color: #333;
    }

    .card-body {
      position: relative;
      margin-bottom: 30px;
      padding-top: 0;

      .sending {
        text-align: right;
        margin-bottom: 10px;
        font-size: .6em;
        color: #999999;
      }

      .card-text {
        color: #666;
      }

      a {
        position: absolute;
        right: 10px;
        bottom: -20px;
        color: #ededed;

        &:hover {
          color: #000;
          background: gold;
        }
      }
    }

    .profilSection {
      height: 100px !important;
      overflow-y: scroll;
    }

    .card-footer {
      height: 20px;

      i {
        height: 20px;
      }

      #deleteLinkUserProfil {
        &:hover {
          color: #3a3a3a;
          cursor: pointer;
        }
      }
    }

    .card-footer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 0 20px;
      a {
        color: #d3d3d3;
        margin-right: 20px;
        font-size: .7em;
        line-height: 20px;
        transition: .2s ease-in-out;

        &:hover {
          color: #3a3a3a;
        }

        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }

  footer {
    width: 100%;
    height: 40px;
    position: relative;
    bottom: 0;
    background: #3a3a3a;
    color: #ededed;
    transition: .3s ease-in-out;

    &:hover {
      color: gold;
    }

    .content {
      margin: 0 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .copyright {
        h3 {
          margin: 0;
          font-size: 1em;
        }
      } // END COPYRIGHT

      .contact {
        height: 40px;
        display: flex;

        svg {
          width: 20px;
          margin: 0 10px;
          fill: #ededed !important;
          transition: .3s ease-in-out;

          &:hover {
            fill: gold;
            cursor: pointer;
          }
        }
      }
    } // END FOOTER CONTENT
  }// END FOOTER
} // END BODY