body {
  width: 100%;
  height: 100vh;
  min-width: 250px;
  margin: 0;
  padding: 0;
  background: #f2f2f2; }
  body a {
    text-decoration: none;
    color: inherit; }
    body a:hover {
      text-decoration: none;
      color: inherit; }
    body a:active {
      text-decoration: none;
      color: inherit; }
    body a:visited {
      text-decoration: none;
      color: inherit; }
  body .headerContent header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ededed;
    z-index: 200; }
    body .headerContent header a {
      display: flex !important;
      height: 60px; }
      body .headerContent header a .title {
        display: none;
        flex-direction: column;
        justify-content: center; }
        body .headerContent header a .title .masterTitle {
          font-size: 1.3em;
          line-height: 1em; }
        body .headerContent header a .title .info {
          font-size: .5em; }
          body .headerContent header a .title .info img {
            width: 10px; }
    body .headerContent header #navLogo {
      margin-left: 5%; }
      body .headerContent header #navLogo svg {
        width: 50px;
        fill: gold;
        margin-right: 10px; }
    body .headerContent header #menuIcon {
      display: flex;
      align-items: center;
      margin-right: 5%; }
      body .headerContent header #menuIcon .returnWebsite {
        height: 30px;
        margin-left: 10px; }
  body .headerContent .container {
    min-height: calc(100vh - 40px);
    padding-top: 70px;
    margin-bottom: 40px;
    background: #f2f2f2; }
  body .headerContent .container-fluid {
    min-height: calc(100vh - 40px);
    padding-top: 70px;
    margin-bottom: 40px;
    background: #f2f2f2; }
    body .headerContent .container-fluid tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  body .card {
    width: 300px;
    margin: 5px;
    transition: .3s ease-in-out;
    position: relative;
    display: inline-block; }
    body .card img {
      width: 100%;
      height: 150px;
      object-fit: cover; }
    body .card h5 {
      color: #333; }
    body .card .card-body {
      position: relative;
      margin-bottom: 30px;
      padding-top: 0; }
      body .card .card-body .sending {
        text-align: right;
        margin-bottom: 10px;
        font-size: .6em;
        color: #999999; }
      body .card .card-body .card-text {
        color: #666; }
      body .card .card-body a {
        position: absolute;
        right: 10px;
        bottom: -20px;
        color: #ededed; }
        body .card .card-body a:hover {
          color: #000;
          background: gold; }
    body .card .profilSection {
      height: 100px !important;
      overflow-y: scroll; }
    body .card .card-footer {
      height: 20px; }
      body .card .card-footer i {
        height: 20px; }
      body .card .card-footer #deleteLinkUserProfil:hover {
        color: #3a3a3a;
        cursor: pointer; }
    body .card .card-footer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 0 20px; }
      body .card .card-footer a {
        color: #d3d3d3;
        margin-right: 20px;
        font-size: .7em;
        line-height: 20px;
        transition: .2s ease-in-out; }
        body .card .card-footer a:hover {
          color: #3a3a3a; }
        body .card .card-footer a:first-letter {
          text-transform: uppercase; }
  body footer {
    width: 100%;
    height: 40px;
    position: relative;
    bottom: 0;
    background: #3a3a3a;
    color: #ededed;
    transition: .3s ease-in-out; }
    body footer:hover {
      color: gold; }
    body footer .content {
      margin: 0 5%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body footer .content .copyright h3 {
        margin: 0;
        font-size: 1em; }
      body footer .content .contact {
        height: 40px;
        display: flex; }
        body footer .content .contact svg {
          width: 20px;
          margin: 0 10px;
          fill: #ededed !important;
          transition: .3s ease-in-out; }
          body footer .content .contact svg:hover {
            fill: gold;
            cursor: pointer; }

/*# sourceMappingURL=style.css.map */
