body {
  width: 100%;
  height: 100vh;
  min-width: 250px;
  margin: 0;
  padding: 0;
  background: #f2f2f2;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
      color: inherit;
    }

    &:active {
      text-decoration: none;
      color: inherit;
    }

    &:visited {
      text-decoration: none;
      color: inherit;
    }
  }

  .headerContent {

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ededed;
    z-index: 200;

    a {
      display: flex !important;
      height: 60px;

      .title {
        display: none;

        .masterTitle {
          font-size: 1.3em;
          line-height: 1em;
        } // END MASTER TITLE

        .info {
          font-size: .5em;

          img {
            width: 10px;
          }
        } // END INFO
      } // END TITLE
    } // END A HEADER

    #navLogo {
      margin-left: 5%;
      svg {
        width: 50px;
        fill: gold;
        margin-right: 10px;
      }
    } // END NAV LOGO

    #menuIcon {
      display: flex;
      align-items: center;
      margin-right: 5%;

      #hello {
        display: none;
        margin-right: 20px;

        p {
          margin: 0;
        }
      }

      #admin {
        margin-right: 20px;
        display: flex;
        align-items: center;

        a {
          height: auto;
        }
      }

      svg {
        width: 30px;
        height: 30px;
        fill: #ededed;
      } // END SVG

      #svgCross {
        display: none;
      }

      #userIcon {
        margin-right: 30px;

        svg {
          fill: #ededed;
          width: 40px;
          height: 40px;
          transition: .3s ease-in-out;
        }

        &:hover {
          cursor: pointer;
        }
        .arrow {
          width: 10px;
          height: 10px;
          margin-top: 25px;
          transform: rotate(90deg);
        }
      } // END USER ICON
    } // END USERMENU
  } // END HEADER


  #userMenu {
    position: absolute;
    z-index: 60;
    top: -100%;
    right: 0;
    width: 15%;
    min-width: 180px;
    background: #3a3a3a;
    color: #ededed;
    transition: .3s ease-in-out;
    border-top: 2px solid gold;
    text-align: right;
    padding-right: 5%;
    font-size: 1.3em;

    ul {
      margin: 0;
      padding: 10px 0 10px 10px;
      list-style: none;

      li {
        margin: 5px 0;
        transition: .3s;
        &:hover {
          color: gold;
        }
      }
    }
  } // END USER MENT

  .userMenuOpen {
    top: 60px !important;
  }
  .arrowTurn {
    transform: rotate(-90deg) !important;
  }



  .menu {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    left: 0;
    width: 100%;
    background: gold;
    transition: .5s ease-in-out;
    z-index: 50;
    border-bottom: 2px solid #3a3a3a;

    .content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .contentBlock {
        width: 250px;
        margin: 10px 20px;

        h3 {
          margin-bottom: 10px;

          &:hover {
            cursor: pointer;
          }
        }

        .menuOpen {
          height: 100% !important;
        }

        .menuItems {
          height: 0;
          overflow: hidden;
          padding: 0;

          li {
            list-style: none;

            &:after {
              content: "";
              display: block;
              width: 0;
              height: 2px;
              background: #3a3a3a;
              transition: width .3s ease-in-out;
            }

            &:hover {
              &:after {
                width: 100%;
                transition: width .3s ease-in-out;
              }
            }
          } // END LI
        } // END UL
      } // END CONTENT BLOCK
    } // END CONTENT
  } // END MENU

  .menuOpen {
    top: 60px;
    transform: translateY(0);
  }

  #menuOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 2;
  }

}

  #descCount {
    font-size: .8em;
  }



  footer {
    width: 100%;
    height: 40px;
    position: relative;
    bottom: 0;
    background: #3a3a3a;
    color: #ededed;
    transition: .3s ease-in-out;

    &:hover {
      color: gold;
    }

    .content {
      margin: 0 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .copyright {
        h3 {
          margin: 0;
          font-size: 1em;
        }
      } // END COPYRIGHT

      .contact {
        height: 40px;
        display: flex;

        svg {
          width: 20px;
          margin: 0 10px;
          fill: #ededed !important;
          transition: .3s ease-in-out;

          &:hover {
            fill: gold;
            cursor: pointer;
          }
        }
      }
    } // END FOOTER CONTENT
  }// END FOOTER
} // END BODY