#mainContent {
  min-height: calc(100vh - 40px);
  padding-top: 70px;
  background: #f2f2f2;

  button {
    color: #ededed !important;

    &:hover {
      color: #000 !important;
      background: gold !important;
    }
  }

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .addMoreLink {
    height: 50px;
    position: relative;

    .infoButton {
      width: 0;
      overflow: hidden;
      position: absolute;
      right: 15px;
      padding-right: 20px;
      transition: .3s ease-in-out;
    }

    button {
      height: 38px;
      width: 38px;
      position: absolute;
      right: 10px;
    }
  }

  .uploaded {
    margin-bottom: 0;
    transition: .3s ease-in-out;

    #uploadedForm {
      display: none;
      transition: .2s ease-in-out;

      label {
        margin-bottom: 2px;
      }
    }
  }


  .card {
    width: 300px;
    margin: 5px;
    transition: .3s ease-in-out;
    position: relative;
    display: inline-block;

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    h5 {
      color: #333;
    }

    .card-body {
      position: relative;
      margin-bottom: 30px;
      padding-top: 0;

      .sending {
        text-align: right;
        margin-bottom: 10px;
        font-size: .6em;
        color: #999999;
      }

      .card-text {
        color: #666;
      }

      a {
        position: absolute;
        right: 10px;
        bottom: -20px;
        color: #ededed;

        &:hover {
          color: #000;
          background: gold;
        }
      }
    }

    .card-footer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 0 20px;
      a {
        color: #d3d3d3;
        margin-right: 20px;
        font-size: .7em;
        line-height: 20px;
        transition: .2s ease-in-out;

        &:hover {
          color: #3a3a3a;
        }

        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}

