
@media all and (min-width: 430px) {

    #hello {
      display: flex !important;
    }

}


@media all and (min-width: 620px) {
  header {
    a {
      .title {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  .card {
    .card-body {
      height: 250px;
    }
  }

  .contentBlock {
    margin: 40px 20px !important;

    h3 {
      margin-bottom: 30px !important;
    }
  }

  .menuItems {
    height: 100% !important;
  }
}


@media all and (min-width: 1760px){
  .menu {
    align-items: center;
  }

}
