
.editProfilForm {
  display: none;

  span {
    display: block;
    font-size: .5em;
  }

  .mailInfoContent {
    display: flex;
  }

  #mailInfo, #mailInfo2 {
    width: 100%;
    height: 20px !important;
    margin-top: 5px;
    font-size: .8em;
  }
}

.profilSection {
  height: 100px !important;
  overflow-y: scroll;
}

.card-footer {
  height: 20px;

  i {
    height: 20px;
  }

  #deleteLinkUserProfil {
    &:hover {
      color: #3a3a3a;
      cursor: pointer;
    }
  }

}
