
.error {
  display: none;
}

#formRegister {

  .form-group {
    position: relative;
    margin: 0;

    span {
      display: block;
      font-size: .5em;
    }

    .mailInfoContent {
      display: flex;
    }

    #userNameInfo, #mailInfo, #mailInfo2, #passwordInfo {
      width: 100%;
      height: 20px !important;
      margin-top: 5px;
      font-size: .8em;
    }
  }

  .infoPwd {
    position: absolute;
    height: 80px;
    top: 82px;
    z-index: 999;
    display: none;

    .arrowUp {
      width: 0;
      height: 0;
      margin-left: 40px;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid gold;
    }

    .infoContent {
      line-height: 100%;
      width: 100%;
      background: gold;
      padding: 20px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);

      p {
        margin: 0;

        &:first-child {
          margin-bottom: 10px;
          font-weight: bold;
        }

        span {
          font-size: .7em;
        }
      }
    }
  }

  #submitRegister {
    background: #3a3a3a;
    margin: 30px 0;

    &:hover {
      background: gold;
      color: #3a3a3a;
    }
  }
}

#formLogin {
  #submitLogin {
    background: #3a3a3a;
    margin: 30px 0;

    &:hover {
      background: gold;
      color: #3a3a3a;
    }
  }
}