body {
  width: 100%;
  height: 100vh;
  min-width: 250px;
  margin: 0;
  padding: 0;
  background: #f2f2f2; }
  body a {
    text-decoration: none;
    color: inherit; }
    body a:hover {
      text-decoration: none;
      color: inherit; }
    body a:active {
      text-decoration: none;
      color: inherit; }
    body a:visited {
      text-decoration: none;
      color: inherit; }
  body .headerContent header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ededed;
    z-index: 200; }
    body .headerContent header a {
      display: flex !important;
      height: 60px; }
      body .headerContent header a .title {
        display: none; }
        body .headerContent header a .title .masterTitle {
          font-size: 1.3em;
          line-height: 1em; }
        body .headerContent header a .title .info {
          font-size: .5em; }
          body .headerContent header a .title .info img {
            width: 10px; }
    body .headerContent header #navLogo {
      margin-left: 5%; }
      body .headerContent header #navLogo svg {
        width: 50px;
        fill: gold;
        margin-right: 10px; }
    body .headerContent header #menuIcon {
      display: flex;
      align-items: center;
      margin-right: 5%; }
      body .headerContent header #menuIcon #hello {
        display: none;
        margin-right: 20px; }
        body .headerContent header #menuIcon #hello p {
          margin: 0; }
      body .headerContent header #menuIcon #admin {
        margin-right: 20px;
        display: flex;
        align-items: center; }
        body .headerContent header #menuIcon #admin a {
          height: auto; }
      body .headerContent header #menuIcon svg {
        width: 30px;
        height: 30px;
        fill: #ededed; }
      body .headerContent header #menuIcon #svgCross {
        display: none; }
      body .headerContent header #menuIcon #userIcon {
        margin-right: 30px; }
        body .headerContent header #menuIcon #userIcon svg {
          fill: #ededed;
          width: 40px;
          height: 40px;
          transition: .3s ease-in-out; }
        body .headerContent header #menuIcon #userIcon:hover {
          cursor: pointer; }
        body .headerContent header #menuIcon #userIcon .arrow {
          width: 10px;
          height: 10px;
          margin-top: 25px;
          transform: rotate(90deg); }
  body .headerContent #userMenu {
    position: absolute;
    z-index: 60;
    top: -100%;
    right: 0;
    width: 15%;
    min-width: 180px;
    background: #3a3a3a;
    color: #ededed;
    transition: .3s ease-in-out;
    border-top: 2px solid gold;
    text-align: right;
    padding-right: 5%;
    font-size: 1.3em; }
    body .headerContent #userMenu ul {
      margin: 0;
      padding: 10px 0 10px 10px;
      list-style: none; }
      body .headerContent #userMenu ul li {
        margin: 5px 0;
        transition: .3s; }
        body .headerContent #userMenu ul li:hover {
          color: gold; }
  body .headerContent .userMenuOpen {
    top: 60px !important; }
  body .headerContent .arrowTurn {
    transform: rotate(-90deg) !important; }
  body .headerContent .menu {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    left: 0;
    width: 100%;
    background: gold;
    transition: .5s ease-in-out;
    z-index: 50;
    border-bottom: 2px solid #3a3a3a; }
    body .headerContent .menu .content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      body .headerContent .menu .content .contentBlock {
        width: 250px;
        margin: 10px 20px; }
        body .headerContent .menu .content .contentBlock h3 {
          margin-bottom: 10px; }
          body .headerContent .menu .content .contentBlock h3:hover {
            cursor: pointer; }
        body .headerContent .menu .content .contentBlock .menuOpen {
          height: 100% !important; }
        body .headerContent .menu .content .contentBlock .menuItems {
          height: 0;
          overflow: hidden;
          padding: 0; }
          body .headerContent .menu .content .contentBlock .menuItems li {
            list-style: none; }
            body .headerContent .menu .content .contentBlock .menuItems li:after {
              content: "";
              display: block;
              width: 0;
              height: 2px;
              background: #3a3a3a;
              transition: width .3s ease-in-out; }
            body .headerContent .menu .content .contentBlock .menuItems li:hover:after {
              width: 100%;
              transition: width .3s ease-in-out; }
  body .headerContent .menuOpen {
    top: 60px;
    transform: translateY(0); }
  body .headerContent #menuOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 2; }
  body #descCount {
    font-size: .8em; }
  body footer {
    width: 100%;
    height: 40px;
    position: relative;
    bottom: 0;
    background: #3a3a3a;
    color: #ededed;
    transition: .3s ease-in-out; }
    body footer:hover {
      color: gold; }
    body footer .content {
      margin: 0 5%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body footer .content .copyright h3 {
        margin: 0;
        font-size: 1em; }
      body footer .content .contact {
        height: 40px;
        display: flex; }
        body footer .content .contact svg {
          width: 20px;
          margin: 0 10px;
          fill: #ededed !important;
          transition: .3s ease-in-out; }
          body footer .content .contact svg:hover {
            fill: gold;
            cursor: pointer; }

#mainContent {
  min-height: calc(100vh - 40px);
  padding-top: 70px;
  background: #f2f2f2; }
  #mainContent button {
    color: #ededed !important; }
    #mainContent button:hover {
      color: #000 !important;
      background: gold !important; }
  #mainContent h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-transform: uppercase; }
  #mainContent .addMoreLink {
    height: 50px;
    position: relative; }
    #mainContent .addMoreLink .infoButton {
      width: 0;
      overflow: hidden;
      position: absolute;
      right: 15px;
      padding-right: 20px;
      transition: .3s ease-in-out; }
    #mainContent .addMoreLink button {
      height: 38px;
      width: 38px;
      position: absolute;
      right: 10px; }
  #mainContent .uploaded {
    margin-bottom: 0;
    transition: .3s ease-in-out; }
    #mainContent .uploaded #uploadedForm {
      display: none;
      transition: .2s ease-in-out; }
      #mainContent .uploaded #uploadedForm label {
        margin-bottom: 2px; }
  #mainContent .card {
    width: 300px;
    margin: 5px;
    transition: .3s ease-in-out;
    position: relative;
    display: inline-block; }
    #mainContent .card img {
      width: 100%;
      height: 150px;
      object-fit: cover; }
    #mainContent .card h5 {
      color: #333; }
    #mainContent .card .card-body {
      position: relative;
      margin-bottom: 30px;
      padding-top: 0; }
      #mainContent .card .card-body .sending {
        text-align: right;
        margin-bottom: 10px;
        font-size: .6em;
        color: #999999; }
      #mainContent .card .card-body .card-text {
        color: #666; }
      #mainContent .card .card-body a {
        position: absolute;
        right: 10px;
        bottom: -20px;
        color: #ededed; }
        #mainContent .card .card-body a:hover {
          color: #000;
          background: gold; }
    #mainContent .card .card-footer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 0 20px; }
      #mainContent .card .card-footer a {
        color: #d3d3d3;
        margin-right: 20px;
        font-size: .7em;
        line-height: 20px;
        transition: .2s ease-in-out; }
        #mainContent .card .card-footer a:hover {
          color: #3a3a3a; }
        #mainContent .card .card-footer a:first-letter {
          text-transform: uppercase; }

.error {
  display: none; }

#formRegister .form-group {
  position: relative;
  margin: 0; }
  #formRegister .form-group span {
    display: block;
    font-size: .5em; }
  #formRegister .form-group .mailInfoContent {
    display: flex; }
  #formRegister .form-group #userNameInfo, #formRegister .form-group #mailInfo, #formRegister .form-group #mailInfo2, #formRegister .form-group #passwordInfo {
    width: 100%;
    height: 20px !important;
    margin-top: 5px;
    font-size: .8em; }
#formRegister .infoPwd {
  position: absolute;
  height: 80px;
  top: 82px;
  z-index: 999;
  display: none; }
  #formRegister .infoPwd .arrowUp {
    width: 0;
    height: 0;
    margin-left: 40px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid gold; }
  #formRegister .infoPwd .infoContent {
    line-height: 100%;
    width: 100%;
    background: gold;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }
    #formRegister .infoPwd .infoContent p {
      margin: 0; }
      #formRegister .infoPwd .infoContent p:first-child {
        margin-bottom: 10px;
        font-weight: bold; }
      #formRegister .infoPwd .infoContent p span {
        font-size: .7em; }
#formRegister #submitRegister {
  background: #3a3a3a;
  margin: 30px 0; }
  #formRegister #submitRegister:hover {
    background: gold;
    color: #3a3a3a; }

#formLogin #submitLogin {
  background: #3a3a3a;
  margin: 30px 0; }
  #formLogin #submitLogin:hover {
    background: gold;
    color: #3a3a3a; }

.editProfilForm {
  display: none; }
  .editProfilForm span {
    display: block;
    font-size: .5em; }
  .editProfilForm .mailInfoContent {
    display: flex; }
  .editProfilForm #mailInfo, .editProfilForm #mailInfo2 {
    width: 100%;
    height: 20px !important;
    margin-top: 5px;
    font-size: .8em; }

.profilSection {
  height: 100px !important;
  overflow-y: scroll; }

.card-footer {
  height: 20px; }
  .card-footer i {
    height: 20px; }
  .card-footer #deleteLinkUserProfil:hover {
    color: #3a3a3a;
    cursor: pointer; }

@media all and (min-width: 430px) {
  #hello {
    display: flex !important; } }
@media all and (min-width: 620px) {
  header a .title {
    display: flex !important;
    flex-direction: column;
    justify-content: center; }

  .card .card-body {
    height: 250px; }

  .contentBlock {
    margin: 40px 20px !important; }
    .contentBlock h3 {
      margin-bottom: 30px !important; }

  .menuItems {
    height: 100% !important; } }
@media all and (min-width: 1760px) {
  .menu {
    align-items: center; } }

/*# sourceMappingURL=style.css.map */
